---
layout: container
title: Contact
subtitle: talk to me
nav_title: Contact
nav_order: 4
---

.btn-toolbar(role='toolbar')
  %a.btn.btn-default(href='mailto:kieren@kdavi.es')
    %i.fa.fa-envelope
    Email
