---
layout: container
title: Contact
subtitle: talk to me
---

.btn-toolbar(role='toolbar')
  %a.btn.btn-default.btn-social(href='mailto:kieren@kdavi.es')
    %i.fa.fa-envelope-o
    Email

%br

.btn-toolbar.btn-toolbar-long(role='toolbar')
  %a.btn.btn-default.btn-social.btn-bitbucket(href='https://bitbucket.org/kierendavies/')
    %i.fa.fa-bitbucket
    Bitbucket
  %a.btn.btn-default.btn-social.btn-facebook(href='https://www.facebook.com/kierendavies')
    %i.fa.fa-facebook
    Facebook
  %a.btn.btn-default.btn-social.btn-github(href='https://github.com/kierendavies/')
    %i.fa.fa-github
    GitHub
  %a.btn.btn-default.btn-social.btn-google(href='https://plus.google.com/+KierenDavies')
    %i.fa.fa-google-plus
    Google+
  %a.btn.btn-default.btn-social.btn-linkedin(href='https://za.linkedin.com/in/kierendavies')
    %i.fa.fa-linkedin
    LinkedIn
  %a.btn.btn-default.btn-social.btn-steam(href='http://steamcommunity.com/id/kierendavies')
    %i.fa.fa-steam
    Steam
  %a.btn.btn-default.btn-social.btn-twitter(href='https://twitter.com/kierendavies')
    %i.fa.fa-twitter
    Twitter
