---
layout: container
title: Curriculum Vitae
nav_title: CV
nav_order: 3
---

.btn-toolbar(role='toolbar')
  %a.btn.btn-default(href='https://github.com/kierendavies/cv/raw/master/cv-moderncv.pdf')
    %i.fa.fa-download
    Download PDF
  %a.btn.btn-default(href='https://github.com/kierendavies/cv')
    %i.fa.fa-github
    View on GitHub
