---
title:
---

.jumbotron
  .container
    .jumbotron-title
      %h1 Hi.
      %p I'm Kieren Davies.
    .jumbotron-info
      %p
        I'm a mathematician, programmer,
        %br
        gamer, rock climber, and musician.

:markdown
  View [this site](http://gateway.ipfs.io/ipns/kdavi.es/) on [IPFS](https://ipfs.io/)!
